:root {
  --branding-color: white;
  --secondary-color: #22252e;
  --tertiary-color: black;
  --quaternary-color: #64664c;
  --quinary-color: #99816b;
  --heading-font-family: "Inter", sans-serif;
  --default-font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--secondary-color);
  margin: 0px 0px 100px;
  font-family: var(--heading-font-family);
}

header {
  padding: 30px 16px;
  background: var(--secondary-color);
  /* background: white; */
  color: #f1f1f1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .hero {
  padding-top: 100px;
}

nav {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

/* nav li.active a {
  color: var(--quinary-color);
} */

nav a {
  color: var(--quaternary-color);
  font-weight: 700;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: var(--branding-color);
}

/* h1,
h2,
h3,
h4,
p {
  font-family: var(--heading-font-family);
} */

nav li,
h1,
h3,
p,
.hero,
.btn-branding,
.btn-launch-button {
  color: var(--branding-color);
}

h1 {
  font-size: 96px;
  font-weight: 700;
}

h2,
nav li.active a {
  color: var(--quinary-color);
  font-weight: 700;
}

h3 {
  font-weight: 700;
}

p {
  font-size: 18px;
  font-weight: normal;
}

.mug {
  margin: 90px 0px 0px;
}

.hero {
  text-align: center;
  padding: 220px 20px;
}

.hero .btn-branding {
  background: var(--tertiary-color);
  border-radius: 0%;
  font-size: 20px;
  font-family: var(--default-font-family);
  font-weight: 700;
  line-height: 27px;
  padding: 15px 30px;
  border-color: var(--branding-color);
}

.name {
  background: var(--branding-color);
  color: #22252e;
}

.page-name {
  border-top: 8px solid #6d6b6d;
  border-bottom: 8px solid #6d6b6d;
  background-color: #a39690;
  color: #22252e;
}

/* #project-header {
  padding: 0px 20px 75px;
} */

.project-header-font,
.about-header-font {
  font-size: 45px;
  font-weight: 700;
}

.project-title {
  text-align: center;
  font-size: 44px;
  margin-bottom: 40px;
  font-weight: 700;
}

#project-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-launch-button {
  background: var(--quaternary-color);
  border-radius: 0%;
  font-size: 20px;
  font-family: var(--default-font-family);
  font-weight: 700;
  line-height: 27px;
  padding: 15px 30px;
  border-color: white;
}

.project-description {
  line-height: 30px;
  text-align: center;
}

#project-header,
#about-header,
#epilogue-header,
#contact-header {
  padding: 200px 20px 75px;
}

/* .about-section {
  margin: 30px;
  padding: 160px 20px;
} */

footer {
  margin: 0 60px;
}

footer .email-link {
  text-decoration: none;
  color: var(--quaternary-color);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
}

footer .email-link:hover {
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

footer .social-links a {
  line-height: 49px;
  text-align: center;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  color: var(--branding-color);
  background-color: #6d6b6d;
  /* padding: 10px 14px; */
  font-size: 20px;
  border-radius: 100%;
}

footer .social-links a:hover {
  color: var(--branding-color);
  font-size: 30px;
  transition: all 100ms ease-in-out;
}

/* .green {
  background: var(--quaternary-color);
} */

@media only screen and (min-width: 992px) and (max-width: 1400px) {
  h1 {
    font-size: 78px;
  }
}
@media (max-width: 1200px) {
  .project-title {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .hero {
    padding: 95px 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .hero {
    padding: 139px 20px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .btn-branding {
    margin-top: -32px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 56px;
  }
  .hero {
    margin-top: -20px;
  }
  .btn-branding {
    margin-top: -32px;
  }
}

@media (max-width: 768px) {
  nav {
    /* align-items: center; */
    justify-content: center;
  }
  #about-header {
    padding: 200px 20px 50px;
  }
  .about-section {
    text-align: center;
    margin: 0px;
    padding: 0px 20px 50px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  .hero {
    padding: 73px 20px;
  }
  .btn-branding {
    margin-top: -41px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 33px;
  }
  .name {
    background: #22252e;
    color: var(--branding-color);
  }
  .mug {
    margin: 30px 0px -155px;
  }
  .hero {
    padding: 200px 20px;
    color: var(--branding-color);
  }
}

/* @media screen and (device-width: 412px) and (device-height: 915px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .mug {
    margin: 33px 0px -155px;
  }
  .hero {
    text-align: center;
    padding: 50px 20px;
    color: var(--branding-color);
  }
  .btn-branding {
    margin-top: -40px;
  }
} */
/* @media only screen and (max-width: 736px) and (orientation: landscape) {
  .mug {
    margin: 33px 0px -155px;
  }
  .hero {
    text-align: center;
    padding: 50px 20px;
    color: var(--branding-color);
  }
  .btn-branding {
    margin-top: -40px;
  }
} */
