:root {
  --branding-color: white;
  --secondary-color: #22252e;
  --tertiary-color: black;
  --quaternary-color: #64664c;
  --quinary-color: #99816b;
  --heading-font-family: Montserrat, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  /* --default-font-family: font-family: 'Lato', sans-serif; */
}

* .border-box {
  border: 5px solid #fff;
  border-radius: 20px;
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.4);
}

body {
  animation: opening 1s ease-in-out;
  background: var(--secondary-color);
  font-family: var(--heading-font-family);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

body.light {
  background: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
}

.light header {
  background: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
}

.light h1,
.light h3,
.light p,
.light .project-title a {
  color: var(--secondary-color);
}

.light nav ul li a:hover {
  color: var(--quaternary-color);
  text-decoration: var(--secondary-color) 0.1rem underline;
  text-underline-offset: 0.3rem;
}

.light .name {
  background: var(--secondary-color);
  color: var(--branding-color);
}

.light .hero .light .btn-branding,
.light .hero .btn-branding:link,
.light .hero .btn-branding:active,
.light .hero .btn-branding:visited {
  background: var(--secondary-color);
}

.light .page-name {
  color: var(--quinary-color);
}

.light footer .social-links a,
.light footer .social-links a:link,
.light footer .social-links a:active,
.light footer .social-links a:visited {
  color: var(--secondary-color);
}

.light .project-description .fa-react,
.light .project-description .fa-react:link,
.light .project-description .fa-react:active,
.light .project-description .fa-react:visited {
  color: #59cae7;
}

header {
  padding: 21px 16px;
  background: var(--secondary-color);
  color: #f1f1f1;
  z-index: 1;
}

section {
  margin: 0;
  padding: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .hero {
  padding-top: 100px;
}

h1,
h3,
p,
.hero,
.btn-branding,
.btn-launch-button {
  color: var(--branding-color);
}

.toggle {
  position: relative;
  bottom: 5px;
  height: 15px;
  width: 30px;
  border-radius: 100px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 8px 17px;
}

.toggle::before {
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  background: var(--secondary-color);
  border-radius: 50%;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.toggle.active::before {
  left: calc(100% - 13px - 2px);
  background: var(--branding-color);
}

.toggle.active {
  background-color: var(--secondary-color);
}

nav {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  position: fixed;
  top: 0;
}

nav ul li a {
  color: var(--quaternary-color);
  font-size: 0.938rem;
  font-weight: 700;
  text-decoration: none;
  transition: 0.4s ease;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--branding-color);
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 10px;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: auto;
  z-index: 1030;
}

h2,
li a[href="#home"] {
  color: var(--quinary-color);
  font-weight: 700;
}

.light li a[href="#home"]:hover {
  color: var(--quinary-color);
}

h1 {
  font-size: 6rem;
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
  text-transform: none;
}

h3 {
  font-weight: 700;
}

p {
  font-size: 1.125rem;
  text-transform: none;
}

.mug {
  margin: 90px 0px 0px;
}

.hero {
  text-align: center;
  padding: 220px 20px;
}

.hero .btn-branding,
.hero .btn-branding:link,
.hero .btn-branding:active,
.hero .btn-branding:visited {
  background: var(--tertiary-color);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 27px;
  padding: 15px 30px;
  border-color: var(--branding-color);
  transition: 0.4s ease;
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

.below-hero {
  margin-bottom: 69px;
}

.name {
  background: var(--branding-color);
  color: #22252e;
  padding: 0px 15px;
}

.page-name {
  padding: 0.5rem 15px;
  color: #a39690;
}

.project-header-font,
.about-header-font,
.misc-header-font {
  font-size: 3rem;
  font-weight: 700;
  border-bottom: 0.4rem solid #64664c;
}

.project-title {
  text-align: center;
  font-size: 1.875rem;
  margin-bottom: 40px;
  font-weight: 700;
}

.project-title a {
  text-decoration: none;
  color: var(--branding-color);
  transition: 0.4s ease;
}

.project-title a:hover {
  color: var(--quinary-color);
}

.project-1 {
  position: relative;
  overflow: hidden;
}

.project-1 img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
  display: block;
  transform: scale(1);
}

.project-1:hover img {
  transform: scale(1.065);
}

.btn-launch-button,
.btn-launch-button:link,
.btn-launch-button:active,
.btn-launch-button:visited {
  background: var(--quaternary-color);
  border-radius: 30px;
  color: var(--branding-color);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 27px;
  padding: 15px 30px;
  border-color: var(--branding-color);
  transition: 0.4s ease;
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.4);
}

.hero .btn-branding:hover {
  background-color: var(--quaternary-color);
}

.btn-launch-button:hover {
  background-color: var(--quinary-color);
  color: var(--branding-color);
  outline-color: var(--branding-color);
}

.project-description,
.bottom-row {
  line-height: 30px;
  text-align: center;
  margin-bottom: 5rem;
}

.project-description,
.bottom-row {
  margin-bottom: 5rem;
}

.bottom-row {
  margin-bottom: 0;
}

#project-header {
  padding: 0px 20px 75px;
}

#about-header {
  padding: 85px 0px 75px;
}

#epilogue-header {
  padding: 175px 20px 75px;
}

#contact-header {
  padding: 150px 20px 75px;
}

.project-description .fa-github,
.project-description .fa-github:link,
.project-description .fa-github:active,
.project-description .fa-github:visited,
.project-description .fa-react,
.project-description .fa-react:link,
.project-description .fa-react:active,
.project-description .fa-react:visited {
  transition: 0.4s ease;
  top: 0px;
}

.project-description .fa-github {
  color: var(--branding-color);
  font-size: 1.5rem;
}

.light .project-description .fa-github {
  color: var(--secondary-color);
}

.project-description .fa-react {
  color: #44d8ff;
  margin: 0px 8px;
  font-size: 2rem;
}

.light .project-description .fa-github {
  color: var(--branding-color);
}

.project-description .fa-github:hover,
.project-description .fa-react:hover,
.light .project-description .fa-github:hover,
.light .project-description .fa-react:hover {
  color: var(--quinary-color);
}

.light .project-description .fa-github {
  color: var(--secondary-color);
}

.shadow {
  box-shadow: rgb(0 0 0 / 40%) 1px 4px 12px;
  box-sizing: border-box;
}

footer {
  margin: 0 60px;
}

footer .social-links a,
footer .social-links a:link,
footer .social-links a:active,
footer .social-links a:visited {
  line-height: 49px;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0 11px;
  color: var(--branding-color);
  font-size: 2.313rem;
  transition: 0.4s ease;
}

footer .social-links a:hover,
.light footer .social-links a:hover {
  color: var(--quinary-color);
  font-size: 2.625rem;
}

footer .email-link {
  text-decoration: none;
  text-transform: none;
  color: var(--quinary-color);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin: 15px 0px 0px;
  transition: 0.4s ease;
}

footer .email-link:hover {
  color: var(--quaternary-color);
}

footer {
  margin-bottom: 50px;
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1400px) {
  .project-description {
    margin-bottom: 4rem;
  }

  h1 {
    font-size: 4.875rem;
  }

  h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 4.375rem;
  }

  h2 {
    font-size: 1.62rem;
  }

  .project-title {
    font-size: 1.875rem;
    margin-bottom: 40px;
  }

  #project-header {
    padding: 0px 20px 75px;
  }

  .hero {
    padding: 95px 20px;
  }

  .below-hero {
    margin-bottom: 40px;
  }

  .project-description .fa-react {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .hero {
    padding: 175px 20px;
  }

  .btn-branding {
    margin-top: -32px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-enchilada {
    width: 100%;
    height: 100vh;
  }

  .project-header-font {
    margin-top: 0;
    padding-top: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .hero {
    padding: 135px 20px;
  }

  .below-hero {
    margin-bottom: 20px;
  }

  .btn-branding {
    margin-top: -32px;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 3.125rem;
  }

  h2 {
    font-size: 1.182rem;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 0.849999934rem;
  }

  .fixed-top {
    left: 0;
    right: 0;
  }

  nav {
    padding: 0px 10px;
    justify-content: center;
    font-size: 0.875rem;
  }

  .project-description {
    margin-bottom: 3rem;
  }

  .about-section {
    text-align: center;
    margin: 0px;
    padding: 0px 20px 50px;
  }

  #epilogue-header {
    padding-top: 160px;
  }

  #contact-header {
    padding-top: 142px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 2.25rem;
  }

  .hero {
    padding: 90px 20px;
  }

  .btn-branding {
    margin-top: -41px;
  }
}

@media (max-width: 576px) {
  li a[href="#home"],
  .light li a[href="#home"],
  nav ul li a {
    font-size: 0.875rem;
  }

  h1 {
    font-size: 1.875rem;
  }

  h2 {
    font-size: 1.38rem;
  }

  .hero-enchilada {
    width: 100%;
    height: 100vh;
  }

  .name {
    background: #22252e;
    color: var(--branding-color);
    padding: 0;
  }

  .light .name {
    background: none;
    color: var(--secondary-color);
    padding: 0;
  }

  .mug {
    margin: 30px 0px -155px;
  }

  .hero {
    padding: 200px 20px 30px;
    color: var(--branding-color);
  }

  .btn-branding {
    margin-top: -15px;
  }

  .project-title {
    font-size: 2.188rem;
    padding-top: 0px;
  }

  .project-header-font {
    margin-top: 0;
    padding-top: 0;
  }

  .about-section,
  .epilogue-section {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 410px) {
  li a[href="#home"],
  .light li a[href="#home"],
  nav ul li a {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 390px) {
  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 378px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 364px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 331px) {
  li a[href="#home"],
  .light li a[href="#home"],
  nav ul li a {
    font-size: 0.7rem;
  }
}
