h1 {
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.hero {
  background: #22252e;
  text-align: right;
  color: white;
}

.hero .btn-branding {
  background: #3a43ad;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
